{%  load static %}
<footer id="footer">
    <div class="container">
        <div class="footer-holder">
            <div class="row  text-center">
                <div class="col-md-12">
                    <a href="#"><img src="static/images/logo-footer.png" alt="Sports HTML Template"></a>
                </div>
                  
            </div>
            <div class="row">
                <div id="cta" class="cta-footer">
                    <a href="javascript:" class="btn btn-primary rounded">Start Training Now</a>
                    <p>Every day is a challenge, change your life now.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>We live your galaxy</h3>
                    
                    <p>
                        15 New Street, Badass Suite, Greyland, Wetworld.
                    </p>
                </div>
                
                <div class="col-md-6 text-right">
                    <ul class="social">
                        <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="javascript:"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.main.js' %}"></script>
</body>